@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    li {
        @apply p-4;
    }

    h1 {
        @apply md:text-4xl text-3xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    button,button[type="submit"] {
        @apply p-3 border bg-custom_purple  text-white rounded-md;
    }

    .icon {
        @apply text-custom_purple text-2xl cursor-pointer;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
    border-radius: .5rem;
}
