@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

.icon {
    color: #5651e5;
}

@layer base {

    li {
        @apply p-4;
    }

    h1 {
        @apply md:text-4xl text-3xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    button,button[type="submit"] {
        @apply p-3 border bg-gradient-to-r from-primary to-secondary text-white rounded-md;
    }

    .icon {
        @apply text-2xl cursor-pointer;
    }
}


.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
    border-radius: .5rem;
}

/* input[type="text"],input[type="text"]:focus,input[type="text"]:active {
    background-color: transparent !important;
    color: transparent !important;
    
} */